<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="javascript">
        var host = window.location.host;
    </script>
    <link href="../../web/resource/css/bootstrap.min.css?v=20170907" rel="stylesheet">
    <link href="../../web/resource/css/common.css?v=20170907" rel="stylesheet">
    <script type="text/javascript" src="../../web/resource/js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../web/resource/js/lib/bootstrap.min.js"></script>

    <script type="text/javascript" src="./js/jquery.js?v=20170907"></script>
    <script type="text/javascript" src="./js/headMenu.js?v=20170907"></script>
    <script type="text/javascript" src="./js/leftMenu.js?v=20170907"></script>
    <script type="text/javascript" src="./js/userManage.js?v=20170908"></script>

</head>
<body>


<div class="head" id="head">
</div>
<div class="panel-body clearfix main-panel-body ">
    <div class="left-menu" id="leftMenu">

    </div>
    <div class="main-panel-content" style="background: #FFF;margin-left: 10px;">
        <div class="right-content" style="width: 1000px;">
            <div class="panel" id="content">

            </div>
        </div>
    </div>
</div>
</body>
</html>
