<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="javascript">
        var host = window.location.host;
    </script>
    <link href="../../web/resource/css/bootstrap.min.css?v=20170907" rel="stylesheet">
    <link href="../../web/resource/css/common.css?v=20170907" rel="stylesheet">
    <script type="text/javascript" src="./js/jquery.js?v=20170907"></script>
    <script type="text/javascript" src="./js/userManage.js?v=20170907"></script>

</head>
<body>
<div class="head">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container ">
            <div class="navbar-header">
                <a class="navbar-brand" href="../../">
                    <img src="../../web/resource/images/logo/logo.png" class="pull-left" width="110px"
                         height="35px">
                    <span class="version hidden">1.0</span>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="./../../../index.php?c=home&a=welcome&do=platform&">公众号</a></li>
                    <li><a href="./../../../index.php?c=wxapp&a=display&do=home&">小程序</a></li>
                    <li><a href="./../../../index.php?c=module&a=display&">应用</a></li>
                    <li><a href="./../../../index.php?c=home&a=welcome&do=system&">系统管理</a></li>
                    <li><a href="./../../../index.php?c=cloud&a=upgrade&">站点管理</a></li>
                    <li><a href="./../../../index.php?c=advertisement&a=content-provider&">广告联盟</a></li>
                    <li><a href="./../../../index.php?c=help&a=display&" target="_blank">帮助系统</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="wi wi-user color-gray"></i>admin <span class="caret"></span></a>
                        <ul class="dropdown-menu color-gray" role="menu">
                            <li>
                                <a href="./../../../index.php?c=user&a=profile&" target="_blank"><i
                                        class="wi wi-account color-gray"></i> 我的账号</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="./../../../index.php?c=cloud&a=upgrade&" target="_blank"><i
                                    class="wi wi-update color-gray"></i> 自动更新</a></li>
                            <li><a href="./../../../index.php?c=system&a=updatecache&" target="_blank"><i
                                    class="wi wi-cache color-gray"></i> 更新缓存</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="./../../../index.php?c=user&a=logout&"><i
                                        class="fa fa-sign-out color-gray"></i>
                                    退出系统</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="panel-body clearfix main-panel-body ">
    <div class="left-menu">
        <div class="left-menu-content">
            <div class="panel panel-menu">
                <div class="panel-heading">
                    <span class="no-collapse">增强功能<i class="wi wi-appsetting pull-right setting"></i></span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item ">
                        <a href="./../../../index.php?c=mc&a=member&" class="text-over">
                            <i class="wi wi-reply"></i>
                            会员管理 </a>
                    </li>
                    <li class="list-group-item ">
                        <a href="./../../../index.php?c=platform&a=qr&" class="text-over">
                            <i class="wi wi-qrcode"></i>
                            二维码/转化链接 </a>
                    </li>
                    <li class="list-group-item ">
                        <a href="./../../../index.php?c=platform&a=mass&" class="text-over">
                            <i class="wi wi-crontab"></i>
                            定时群发 </a>
                    </li>
                    <li class="list-group-item ">
                        <a href="./../../../index.php?c=platform&a=material&" class="text-over">
                            <i class="wi wi-redact"></i>
                            素材/编辑器 </a>
                    </li>
                    <li class="list-group-item ">
                        <a href="./../../../index.php?c=site&a=multi&do=display&" class="text-over">
                            <i class="wi wi-home"></i>
                            微官网-文章 </a>
                    </li>
                </ul>
            </div>
            <div class="panel panel-menu">
                <div class="panel-heading">
                    <span class="no-collapse">粉丝<i class="wi wi-appsetting pull-right setting"></i></span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item ">
                        <a href="./../../../index.php?c=mc&a=fans&" class="text-over">
                            <i class="wi wi-fansmanage"></i>
                            粉丝管理 </a>
                    </li>
                    <li class="list-group-item active">
                        <a href="./../../../index.php?c=mc&a=member&" class="text-over">
                            <i class="wi wi-fans"></i>
                            会员管理 </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="main-panel-content" style="background: #FFF;margin-left: 10px;">
        <div class="right-content" style="width: 1000px;">
            <div class="panel" id="content">

            </div>
        </div>
    </div>
</div>
</body>
</html>
