<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="javascript">
        var host = window.location.host;
    </script>
    <link href="../../web/resource/css/bootstrap.min.css?v=20170907" rel="stylesheet">
    <link href="../../web/resource/css/common.css?v=20170907" rel="stylesheet">
    <script type="text/javascript" src="../../web/resource/js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../web/resource/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../web/resource/js/app/util.js?v=20170907"></script>
    <script type="text/javascript" src="../../web/resource/js/app/common.min.js?v=20170907"></script>
    <script type="text/javascript" src="../../web/resource/js/require.js?v=20170907"></script>
    <script type="text/javascript" src="./js/jquery.js?v=20170907"></script>
    <script type="text/javascript" src="./js/headMenu.js?v=20170907"></script>
    <script type="text/javascript" src="./js/leftMenu.js?v=20170907"></script>
</head>
<body>
<div class="head">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container ">
            <div class="navbar-header">
                <a class="navbar-brand" href="../../">
                    <img src="../../web/resource/images/logo/logo.png" class="pull-left" width="110px"
                         height="35px">
                    <span class="version hidden">1.0</span>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="./../../../index.php?c=home&a=welcome&do=platform&">公众号</a></li>
                    <li><a href="./../../../index.php?c=wxapp&a=display&do=home&">小程序</a></li>
                    <li><a href="./../../../index.php?c=module&a=display&">应用</a></li>
                    <li><a href="./../../../index.php?c=home&a=welcome&do=system&">系统管理</a></li>
                    <li><a href="./../../../index.php?c=cloud&a=upgrade&">站点管理</a></li>
                    <li><a href="./../../../index.php?c=advertisement&a=content-provider&">广告联盟</a></li>
                    <li><a href="./../../../index.php?c=help&a=display&" target="_blank">帮助系统</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i
                                class="wi wi-user color-gray"></i>admin <span class="caret"></span></a>
                        <ul class="dropdown-menu color-gray" role="menu">
                            <li>
                                <a href="./../../../index.php?c=user&a=profile&" target="_blank"><i class="wi wi-account color-gray"></i> 我的账号</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="./../../../index.php?c=cloud&a=upgrade&" target="_blank"><i class="wi wi-update color-gray"></i> 自动更新</a></li>
                            <li><a href="./../../../index.php?c=system&a=updatecache&" target="_blank"><i class="wi wi-cache color-gray"></i> 更新缓存</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="./../../../index.php?c=user&a=logout&"><i class="fa fa-sign-out color-gray"></i>退出系统</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="panel-body clearfix main-panel-body ">
    <div class="left-menu" id="leftMenu">

    </div>
    <div style="background: #FFF;margin-left: 10px;">
        <div class="right-content" style="width: 1000px;">
            <div class="panel">
                <form action="./../controllers/addUser.php" method="post" class="we7-form bv-form" role="form"
                      id="form1" novalidate="novalidate">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">会员姓名</label>

                        <div class="col-sm-9 col-xs-12">
                            <input type="text" name="realname" value="" class="form-control" data-bv-field="realname">
                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="realname"
                                   data-bv-result="NOT_VALIDATED" style="display: none;">姓名不能为空
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号</label>

                        <div class="col-sm-9 col-xs-12">
                            <input type="text" name="mobile" value="" class="form-control" data-bv-field="mobile">
                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="mobile"
                                   data-bv-result="NOT_VALIDATED" style="display: none;">手机不能为空
                            </small>
                            <small class="help-block" data-bv-validator="regexp" data-bv-for="mobile"
                                   data-bv-result="NOT_VALIDATED" style="display: none;">手机号格式不正确
                            </small>
                            <small class="help-block" data-bv-validator="remote" data-bv-for="mobile"
                                   data-bv-result="NOT_VALIDATED" style="display: none;">手机号已经被占用
                            </small>
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-2 control-label">登录密码</label>

                        <div class="col-sm-9 col-xs-12">
                            <input type="password" name="password" value="" class="form-control"
                                   data-bv-field="password">
                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="password"
                                   data-bv-result="VALID" style="display: none;">密码不能为空
                            </small>
                            <small class="help-block" data-bv-validator="stringLength" data-bv-for="password"
                                   data-bv-result="INVALID" style="">密码最少为8位
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱</label>

                        <div class="col-sm-9 col-xs-12">
                            <input type="text" name="email" value="" class="form-control" data-bv-field="email">
                            <small class="help-block" data-bv-validator="regexp" data-bv-for="email"
                                            data-bv-result="NOT_VALIDATED" style="display: none;">邮箱格式不正确
                        </small>
                            <small class="help-block" data-bv-validator="remote" data-bv-for="email"
                                   data-bv-result="NOT_VALIDATED" style="display: none;">邮箱已经被占用
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">积分</label>

                        <div class="col-sm-9 col-xs-12">
                            <input type="text" name="credit1" value="0" class="form-control" data-bv-field="credit1">
                            <small class="help-block" data-bv-validator="regexp" data-bv-for="credit1"
                                   data-bv-result="NOT_VALIDATED" style="display: none;">积分格式不正确
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">余额</label>

                        <div class="col-sm-9 col-xs-12">
                            <input type="text" name="credit2" value="0" class="form-control" data-bv-field="credit2">
                            <small class="help-block" data-bv-validator="regexp" data-bv-for="credit2"
                                   data-bv-result="NOT_VALIDATED" style="display: none;">余额格式不正确
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">会员组</label>

                        <div class="col-sm-9 col-xs-12">
                            <select name="groupid" class="form-control we7-select">
                                <option value="1">默认会员组</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="提交" class="btn btn-primary">
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>


</div>
</body>
</html>

